<!-- Main -->
<article id="main">
    <header class="special container">
        <span class="logo"><img src="/images/DM_LOGO.svg" height="90" width="90"/></span>
        <h1>About Dana Marino Design</h1>
        <p>Dana Marino Design is an independently owned and operated graphic design studio, specializing in custom wedding invitations and event stationery.</p>
    </header>
    <!-- One -->
    <section class="wrapper style3 container special">
        <div class="image feature"> <!-- Large Image -->
            <img src="<%= featureImage.src %>" alt="<%= featureImage.alt %>"/>
        </div>
        <div class="about">
            <h2>Meet the Designer</h2>
            <p>Hi there! I’m Dana, and I’m a stationer based in Northern New Jersey.</p>
            <p>I started Dana Marino Design as a small side business in 2013. While working as a graphic designer at my first post-college job, I created an invitation suite for my boss’ destination wedding &mdash; and the rest is history! Today, I work with clients all over the world and feel extremely lucky to be a part of so many special events.</p>
            <p>One of my favorite aspects of designing custom stationery is infusing a client’s personality into each piece. I love when a couple wants to add a special detail on a map &mdash; often something that only they will understand &mdash; to make it truly one-of-a kind and tell their unique story.</p>
            <p>When I’m not designing stationery, you’ll find me working as a digital marketing manager for a national brand, and lounging around with my sweet husband, Gary, and our four-year-old rescue pup, Charlie.</p>
        </div>
        <div class="image feature"> <!-- Large Image -->
            <img src="<%= featureImage2.src %>" alt="<%= featureImage2.alt %>"/>
        </div>
        <section class="logos">
            <h3>As Seen In</h3>
            <div class="image feature"> <!-- Large Image -->
                <img src="<%= featureImage3.src %>" alt="<%= featureImage3.alt %>"/>
            </div>
        </section>
    </section>
</article>