<!-- Main -->
<article id="main">
    <header class="special container">
        <span class="logo"><img src="/images/DM_LOGO.svg" height="90" width="90"/></span>
        <h1>Wedding Maps: <%= name %></h1>
        <p><%= description %></p>
    </header>
    <!-- One -->
    <section class="wrapper style3 container special">
        <div class="image feature"> <!-- Large Image -->
            <img src="<%= featureImage.src %>" alt="<%= featureImage.alt %>"/>
        </div>
        <section class= "details">
            <div id="actions">
                <a href="/maps" class="button">View More Maps</a>
                <a href="/map-inquiry" class="button special">Request a Quote</a>
            </div>
        </section>
    </section>
</article>

